container_commands:
  00_installs:
      command: sudo yum-config-manager --enable epel
  01_install_gdal: 
      command: sudo yum install gdal --enablerepo=epel -y
  02_install_gdal_devel: 
      command: sudo yum install gdal-devel --enablerepo=epel -y
  03_install_geos: 
      command: sudo yum install geos --enablerepo=epel -y
  04_install_proj: 
      command: sudo yum install proj --enablerepo=epel -y
  05_collectstatic:
      command: python manage.py collectstatic --noinput
  06_migrate:
      command: python manage.py migrate
      leader_only: true
