packages:
  yum:
    binutils: []
    git: []
    libcurl-devel: []
    gcc-c++: []
    postgresql94: []
    postgresql94-libs: []
    postgresql94-devel: []
    gdal: []
    gdal-devel: []
    geos: []
    proj: []
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: microns/wsgi.py
  - option_name: LD_LIBRARY_PATH
    value: /usr/local/lib
  - option_name: DEBUG
    value: True
  - option_name: IS_PRODUCTION
    value: True
  - option_name: ALLOWED_HOST
    value: 'microns-api-env.svt9kqmahy.us-east-1.elasticbeanstalk.com'
container_commands:
  00_collectstatic:
      command: python3 manage.py collectstatic --noinput
  01_migrate:
      command: python3 manage.py migrate
      leader_only: true
