awsebcli
blosc
botocore
decorator
Django
django-rest-swagger
djangorestframework
docutils
gunicorn
intern==0.9.3
markdown
numpy
psycopg2
PyYAML
requests
six
virtualenv
git+https://github.com/jhuapl-boss/django-oidc.git
git+https://github.com/jhuapl-boss/drf-oidc-auth.git
git+https://github.com/jhuapl-boss/boss-oidc.git
