awsebcli==3.7.7
botocore==1.4.33
decorator==3.4.0
Django==1.9.7
django-rest-swagger==0.3.8
djangorestframework==3.3.3
docutils==0.12
pathspec==0.3.4
PyYAML==3.11
requests==2.9.1
six==1.10.0
virtualenv==15.0.2
